// Global default params

params {
    // PREPROCESSING
    // Full path of the directory containing the input fastq.gz files 
    // input_dir = ""
    // Full path to the reference genome assembly (decompressed; .fna|.fasta|.fa)
    // ref = ""
    // tsv file containing the read group info
    // input_tsv = ""
    // Dir where results will be written (sub directories will automatically be created)
    // output_dir = ""
    // Threads to be used by the processes
    // trimmomatic_threads = 5
    // mapping_threads = 5
    // Mapping package to use ["bwa" | "ngm" ]; default is "bwa"
    // mapping = "bwa"
    // Whether to subsample the input fastq.gz reads (for debugging and testing purposes); false by default
    // subsample = true
    // subsample_depth = 10000

    // BQSR
    // Full path of the directory containing the bam files
    // input_dir = ""
    // Dir where results will be written (sub directories will automatically be created)
    // output_dir = ""
    // Full path to the reference genome assembly (decompressed; .fna|.fasta|.fa)
    // ref = ""
    // The maximum heap memory for the GATK HaplotypeCaller in GB
    // haplotypecaller_max_mem = 8
    // Threads to use for GATK HaplotypeCaller (argument to --native-pair-hmm-threads)
    // gatk_haplotype_caller_cpus = 4
    // Full path to the multi-sample vcf file that will be hard filtered to create
    // the high confidence variants set. The associated indexing file (.vcf.idx)
    // should be located in the same directory
    // input_vcf = ""

    // GENOTYPE
    // The mode in which to run the genotyping pipeline ["both" | "gatk" | "bcftools"]. Default is "both".
    // If mode is "both", multi-sample vcf files will be produced using both the 
    // gatk (HaplotypeCaller --> GenomicsDBImport --> GenotypeGVCFs --> GatherVcfs) and the 
    // bcftools (bcftools mpileup --> bcftools call --> bcftools concat) workflows.
    // "gatk" will produce only the vcf from the gatk workflow
    // "bcftools" will produce only the vcf form the bcftools workflow
    // Full path of the directory containing the bam files
    // input_dir = ""
    // Dir where results will be written (sub directories will automatically be created)
    // output_dir = ""
    // Full path to the reference genome assembly (decompressed; .fna|.fasta|.fa)
    // ref = ""
    // The maximum heap memory for the GATK HaplotypeCaller in GB
    // haplotypecaller_max_mem = 8
    // Threads to use for GATK HaplotypeCaller (argument to --native-pair-hmm-threads)
    // gatk_haplotype_caller_cpus = 4

    // RELATEDNESS
    // Full path to the gatk-produced .vcf.gz file. The associated .vcf.gz.tbi file must be in the same directory
    // gatk_vcfgz = ""
    // Full path to the bcftools-produced .vcf.gz file. The associated .vcf.gz.tbi file must be in the same directory
    // bcftools_vcfgz = ""
    // Dir where results will be written (sub directories will automatically be created)
    // output_dir = ""
    // The scaffold/chromosome name of the mitochondrial genome to exclude from the vcf files
    // Leave commented out if there is no mitochondrial genome to remove.
    // Guineafowl mitochondrial scaffold is NC_034374.1
    // mito_scaff = ""
    // Number of threads to use for isec
    // isec_threads = 1
    // Number of threads to use for lcmlkin
    // lcmlkin_threads = 1
    // Number of threads to use for NgsRelate
    // ngsrelate_threads = 1
    foo = "bar"
    
}
profiles{
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

executor{
    // Number of cpus for nextflow to make use of
    cpus=28
    // Memory for nextflow to make use of (memory management is not fully incorporated into parts of the pipeline)
    memory = '100 GB'
}
