// Global default params

params {
    // Parameters for the pre processing pipeline
    // Full path of the directory containing the input fastq.gz files
    // input_dir = ""
    // Full path to the reference genome assembly (decompressed; .fna|.fasta|.fa)
    // ref = ""
    // tsv file containing the read group info
    // input_tsv = ""
    // Dir where results will be written (sub directories will automatically be created)
    // output_dir = ""

    // Whether to subsample the input fastq.gz reads
    // subsample_depth = 10000

    // Mapping package to use ["bwa" | "ngm" ]
    mapping = "bwa"

    // Threads
    trimmomatic_threads = 5
    mapping_threads = 5
    gatk_haplotype_caller_cpus = 4

    // Memory
    // The maximum heap memory for the GATK HaplotypeCaller in GB
    haplotypecaller_max_mem = 8
}
profiles{
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

executor{
    cpus=28
    memory = '100 GB'
}
