// Global default params

params {
    // Parameters for the pre processing pipeline
    raw_reads_dir = "/home/humebc/projects/20210125_kopp_guinea_fowl/raw_seq_files"
    ref_assembly_path = "/home/humebc/projects/20210125_kopp_guinea_fowl/nf_pipeline_kopp/nummel_ref_assembly/GCF_002078875.1_NumMel1.0_genomic.fna"
    subsample = true
    subsample_depth = 10000

    // Threads
    trimmomatic_threads = 5
    nextgenmap_threads = 5
    

    // Parameters for the variant calling with GATK
    bam_input_dir = ""
    bam_common_extension = ".merged.deduplicated.sorted.bam"

    // Threads
    gatk_haplotype_caller_cpus = 5
}
profiles{
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

executor{
    cpus=200
    memory = '800 GB'
}